{% extends 'base.html' %}
{% block body %}

<!-- Features Section -->
<section class="page-section" id="select">
    <div class="container relative">

        <!-- <h2 class="section-title font-alt mb-70 mb-sm-40">
          <a href="/api" style="text-decoration:none"> Available API's </a>
        </h2> -->

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-flag"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">CHOOSE SEASON</h3>

                    <div class="search_categories">
                      <div class="select">
                         <select name="season" id="season">
                              <option value="default" selected="selected">select</option>
                            {% for season in seasons %}
                              <option value="{{ season }}" >{{season}}</option>
                            {% endfor %}
                          </select>
                       </div>
                   </div>
                   <br>

                   <div class="alt-features-descr align-left">
                       API endpoint that returns a list with the average prices
                       for each day on a route between Port Codes origin and destination,
                       except null values for days on which there are less than 3 prices in total.
                   </div>

                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-clock"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">MAX PLAYER OF MATCH</h3>

                    <input type="text" id="ip1" placeholder="" />

                    <div class="alt-features-descr align-left">
                        Player who won the player of match maximum times in this season.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-hotairballoon"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">MAX TOSS WINNER TEAM</h3>

                    <input type="text" id="ip2" placeholder="" />

                    <div class="alt-features-descr align-left">
                        Team who won the most number of tosses in the season.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-clock"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">MAX WINS LOCATION</h3>

                    <input type="text" id="ip3" placeholder="" />

                    <div class="alt-features-descr align-left">
                        Location where most number of wins for the top team.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-clock"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">TEAM WITH MAX RUNS</h3>

                    <input type="text" id="ip4" placeholder="" />

                    <div class="alt-features-descr align-left">
                        API endpoint that returns a list with the average prices
                        for each day on a route between Port Codes origin and destination,
                        except null values for days on which there are less than 3 prices in total.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-clock"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">TEAM WITH MAX MATCH WINS</h3>

                    <input type="text" id="ip5" placeholder="" />

                    <div class="alt-features-descr align-left">
                        API endpoint that returns a list with the average prices
                        for each day on a route between Port Codes origin and destination,
                        except null values for days on which there are less than 3 prices in total.
                    </div>
                </div>
            </div>
            <!-- End Features Item -->


            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-8">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-heart"></span>
                    </div>
                    <h3 class="alt-features-title font-alt"></h3>
                      <h3 class="alt-features-title font-alt">TOP 4 WINNER TEAMS</h3>

                    <div class="alt-features-descr align-left">
                      <div id="bar_graph" style="width:500; height:200px;">{{plot|safe}}</div>
                    </div>

                </div>
            </div>
            <!-- End Features Item -->

            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class="icon-linegraph"></span>
                    </div>
                      <h3 class="alt-features-title font-alt">TOSS DECISION</h3>

                    <div class="alt-features-descr align-left">
                      <div id="pie_graph" style="width:100px; height:100px;">{{plot|safe}}</div>
                    </div>

                </div>
            </div>
            <!-- End Features Item -->



        </div>
        <!-- End Features Grid -->

    </div>
</section>


<!-- End Features Section -->


<!-- jquery script url -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- javascript -->
<script type="text/javascript">

  $('#season').change(function() {
    // get the input text field
    var season = $('#season').val();


    // ajax start
    $.ajax({
           // post url
            url:"api/search/" + season,
            // method: GET
            type: 'GET',
            // form data
            dataType: "json",
            // ajax success response
            success: function(response_data) {
              // if calculation success
              if(response_data[0].status=='success')
              {
                var data = response_data[0].data;

                var winner_bar_div = data.top_4_winner_bar_div ;
                var pie_div = data.pie_div;

                var max_toss_win_team = Object.keys(data.max_toss__win_team)[0];
                var max_player_of_match = Object.keys(data.max_player_of_match)[0];

                var max_win_location = Object.keys(data.max_win_location)[0];
                var top_runs_team = Object.keys(data.top_runs_team)[0];
                var max_winner_team = data.max_winner_team;

                $('#bar_graph').empty().append(winner_bar_div);
                $('#pie_graph').empty().append(pie_div);

                $("#ip1").attr("placeholder", max_player_of_match);
                $("#ip2").attr("placeholder", max_toss_win_team);

                $("#ip3").attr("placeholder", max_win_location);
                $("#ip4").attr("placeholder", top_runs_team);
                $("#ip5").attr("placeholder", max_winner_team);

              }
              // if calculation is failed
              else if (response_data[0].status=='failed')
              {
                // log the failure message
                console.log("response failed");
              }
            }
    }); // end of $.ajax
  });

</script>

{% endblock %}
